<div class="container mt-4">
        <div class="card" style="border-color: white;
        background: #1a1a1a;
        margin-right: 20%;
        margin-left: 20%; margin-top: 60px;">
            <h3 style="text-align: center; color: white; margin-top: 18px;">NEW NOTE</h3>
                <div style="margin: 15px auto; width: 40%;">
                    <div>
                        <form action="/notes/<%=note._id%>?_method=PUT" method="POST" style="margin-right: -50%;
                        margin-left: -50%;">
                            <div class="form-group" >
                                <input class="form-control" type="text" name="note[title]" value="<%= note.title %>" placeholder="Title">
                            </div>
                            <div class="form-group">
                            <input class="form-control" type="text" name="note[author]"  value="<%= note.author %>" placeholder="Author">
                            </div>
                                <div class = "form-group">
                                    <textarea class = "form-control" rows = "10" name="note[content]" placeholder = "Type Content Here"><%= note.content %></textarea>
                                </div>
                            <button type="submit" class="btn btm-lg btn-block btn-primary mt-3 mb-3">UPDATE</button>
                        </form>
                    </div>
                </div>
        </div>  
    </div>